.offcanvas {
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  z-index: 100000; 
  position: fixed;
}

.header-offcanvas-menu {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 50px;
  margin: 12px;
  background-color: lightgray;
}

.nav-offcanvas-item {
  border: none;
  border-radius: 50px;
}

.nav-offcanvas-item:hover {
  cursor: pointer;
  background-color: var(--BV-colorNeutralBorderSubdued);
}
