.clase-grafico{
    position: absolute;
}

.texto{
    position: relative;
    display: flex;
    font-size: 10px;
    font-family: var(--bn-font-family);
    cursor: pointer;
}

.MenuContent{
    background-color: red;
}