.clase-grafico{
    position: absolute;
}

.texto{
    font-family: var(--bn-font-family);
    cursor: pointer;
    font-size: small;
    margin-left: 10px;
}

.MenuContent{
    background-color: red;
}