/* .bn-container[data-color-scheme='dark']
.bn-block-content[data-content-type="docLink"] {
    color: black;
} */

.bn-container[data-color-scheme='dark']
.bn-block-content[data-content-type="docLink"] span[data-text-color="blue"] {
    color: rgb(214, 214, 33);
}

/* .bn-container[data-color-scheme='light']
.bn-block-content[data-content-type="docLink"] {
    color: black;
} */